/.metadata/
Homework1/bin/Homework1/Task3.class
*.class
Homework1/bin/Homework1/Task2.class
.metadata/.plugins/org.eclipse.jdt.core/3939430837.index
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.core.resources/.root/29.tree
